<ion-view view-title="<div class='h1 title text-white'>About</div>">
	<ion-content class="app-bg">
		<div class="about-wrapper">
			<p>This app is powered by DIALS®.</p>
			<p>They’ve taken the old “list view” of your daily schedule and rethought it entirely for mobile (and wearables)!</p>
			<p>Dials’ unique clock-based view of your day is easy and fast to read, and its “one hand, one thumb” entry and edit of events makes Dials the easiest and best on-the-go way to manage your schedule, with the added bonus of in-app chat with other meeting attendees.</p>
			<p>DIALS® - The Better Way To View Your Day!</p>
			<p><a href="#" ng-click="exturl(dialsLink, true)">Download</a> your own version of DIALS® now!</p>
			<a href="#" class="about-dials-logo" ng-click="exturl(dialsLink, true)">
				<img src="img/dials-logo.png" alt="" class="full-image">
			</a>
		</div>
	</ion-content>
</ion-view>