<div class="circle-content">
    <div class="circle-content-inner">
      <div class="event-clock-logo">
        <img src="img/oddball-clock-logo.png" alt="" class="">
      </div>
        
      <div class="time-box">
        <div class="time-box-inner" ng-show="$parent.timeRemaining">
          <p class="host-name">{{ $parent.nextEvent.artist_name }} in:</p>
          <p class="time-remaining">{{ $parent.timeRemaining }}</p>
        </div>
        <div class="time-box-inner" ng-show="$parent.noEventsMessage">
          <p class="no-event">{{ ::$parent.noEventsMessage }}</p>
        </div>
      </div>

      <div class="clock-dials-logo">
        <img src="img/dials-clock-logo.png" alt="" class="">
      </div>

    </div>
  </div>