<div id="header" class="list-view-tab clearfix">
  <span ng-click="loadList(true)" ng-class="{ 'active': isDaySelected }">Day Schedule</span>
  <span ng-click="loadList(false)" ng-class="{ 'active': !isDaySelected }">Tour Schedule</span>
</div>
<ion-list ng-if="isDaySelected && (events | filter:{ date: setDate}:true).length == 0">
  <ion-item class="text-center">No Events Found</ion-item>
</ion-list>
<ion-list>
  <ion-scroll direction="y" style="height: {{listLayoutHeight}}px" has-bouncing="true">
    <ion-item ng-show="isDaySelected" class="event" ng-repeat="event in events | filter:{ date: setDate}:true | orderBy : 'start_time' track by $index"
    ng-click="onEventListClick(event)">
      <span class="event-duration event">{{ event.start_time | date : 'hh:mma' }}</span>
      <span class="artist-name event">{{ event.artist_name }}</span>
    </ion-item>
    <ion-item ng-show="!isDaySelected" class="event" ng-repeat="sch in schedule" ng-click="goToDay(sch.date)">
      <span class="event-duration tour-sch event">{{ moment(sch.date).format('MM/DD') }}</span>
      <span class="artist-name tour-sch event">{{ sch.city }}, {{ sch.state}} </span>
    </ion-item>
  </ion-scroll>
</ion-list>