<div class="square {{ fadeIn ? 'fade-in' : 'fade-out' }}" on-swipe-left="onSwipe('add')" on-swipe-right="onSwipe('subtract')">
  <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" xmlns:xhtml="http://www.w3.org/1999/xhtml" ng-attr-width={{layoutWidth}}
  ng-attr-height={{layoutHeight}} id="svg">
    <g transform="translate(50,50)">      

      <circle class="clock-face" r="48" stroke-width="0" />
      <line ng-repeat="minor in minors track by $index" ng-if="$index%4 != 0" class="minor" y1="43" y2="45" ng-attr-transform="rotate({{360 * $index / minors.length}})"
      />
      <text y="-42" x="-3" font-size="5" font-weight="bold">12</text>
      <text y="2" x="43" font-size="5" font-weight="bold">3</text>
      <text y="46" x="-1" font-size="5" font-weight="bold">6</text>
      <text y="2" x="-45" font-size="5" font-weight="bold">9</text>
      <line ng-repeat="major in majors track by $index" ng-if="$index%3 != 0" class="major" y1="42" y2="45" ng-attr-transform="rotate({{360 * $index / majors.length}})"
      />
      
      <g>
        <circle class="clock-inner" r="31" stroke-dasharray="195%" stroke-dashoffset="0" />
        <circle id="bar" r="31" cx="0" cy="0" fill="transparent" stroke-dasharray="195%" stroke-dashoffset="195%" />
      </g>

      
      <image ng-show="moment().format('MM/DD/YYYY') == setDate" x="-10" y="-45" width="20" height="60" xlink:href="img/clock-hand.svg" ng-attr-transform="rotate({{30 * date.getHours() + date.getMinutes() / 2}})"></image>


      <circle id="sd" class="clock-cal-content" cx="0" cy="0" r="28" fill="#ffffff" ng-hide="showEventDetails" />

      <text x="0" y="-4" ng-show="noEventsMessage">
        <tspan x="2" y="-2" dx="0" dy="0" text-anchor="middle" font-size="4" font-weight="bold">No Event Until The</tspan>
        <tspan x="0" y="-2" dx="0" dy="5" text-anchor="middle" dy="5" font-size="4" font-weight="bold">Next 48 Hours</tspan>
      </text>

      <text x="0" y="-4" ng-show="timeRemaining">
        <tspan x="2" y="-4" dx="0" dy="0" font-size="4" font-weight="bold" text-anchor="middle" class="uppercase">{{nextEvent.artist_name}} in:</tspan>
        <tspan x="-18" y="0" dx="0" dy="5" font-family="ProximaNovaBold, Helvetica, Arial, sans-serif" font-size="9" fill="#696969">{{timeRemaining}}</tspan>
      </text>
      
      <foreignObject class="" my-show="showDial" after-hide="afterDialHide()" after-show="afterDialShow()" height="56" width="52" y="22" x="24" transform="translate(-50, -50)">
        <div class="clock-oddball-logo-svg">              
            <img src="img/oddball-clock-logo.png" alt="" class=""/>
        </div>
        <div class="time-box-svg">
          <div class="time-remaining-box" ng-show="timeRemaining">
            <p class="time-remaining-svg" style="height: 13px;"></p>
          </div>
          <div ng-show="noEventsMessage" class="no-event-box">
            <p class="no-event-svg" style="height: 8px"></p>
          </div>
        </div>
        <div class="clock-dials-logo-svg">         
          <img on-tap="exturl(dialsLink, true);" class="" alt="" src="img/dials-clock-logo.png"/>          
        </div>
      </foreignObject>

      <defs>
        <pattern id="sd-hover-bg" patternUnits="userSpaceOnUse" height="100%" width="100%" x="-50%" y="-50%">
          <image x="0%" y="0%" height="100%" width="100%" xlink:href="img/host-bg.png"></image>
        </pattern>
      </defs>
      <defs>
        <pattern id="sd-hover-img" patternUnits="userSpaceOnUse" height="100%" width="100%" x="-50%" y="-50%">          
          <image x="23%" y="1%" height="100%" width="55%" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{trust(artistUrl)}}"></image>
        </pattern>
      </defs>
      <g ng-show="showEventDetails" class="event" ng-cloak>

        <circle id="sd-hover" class="clock-cal-content-hover event" cx="0" cy="0" r="28" fill="white" stroke="#000000" stroke-width="1"/>

        <circle id="sd-hover-img-circle" class="clock-cal-content-hover event" cx="0" cy="0" r="28" fill="url(#sd-hover-img)" stroke-width="0"/>

        <foreignObject transform="translate(-50, -50)" x="65" y="40" width="15" height="15">
          <span class="ion-information-circled event fz-75" ng-click="exturl(artistInfoUrl);"></span>
        </foreignObject>

        <text text-anchor="middle" y="-20" x="0" class="event">
          <tspan class="event uppercase" font-weight="bold" font-size="4" dy="-20" dx="0" y="0" x="2">{{selectedEvent.artist_firstname}}</tspan>
          <tspan class="event uppercase" font-weight="bold" font-size="4" dy="-16" dx="0" y="0" x="2">{{selectedEvent.artist_lastname}}</tspan>
          <tspan class="event" font-weight="bold" font-size="3" dy="-12" dx="0" y="0" x="0" fill="#7f7f7f">{{ selectedEvent.start_time | date : 'hh:mma' }} > {{ selectedEvent.end_time | date : 'hh:mma'}}</tspan>
        </text>


      </g>
      <!-- End Hover Inner Circle -->
  
      <defs ng-repeat="event in events | filter:{ date: setDate}:true track by $index">
        <pattern id="{{$index}}" x="0%" y="0%" height="100%" width="100%" viewBox="0 0 16 16">
          <image x="0%" y="0%" width="16" height="16" xlink:href="" ng-attr-xlink:href="{{trust(smallAvatarBaseUrl + event.artist_image)}}" ng-attr-transform="rotate({{-(30 * event.hour + event.min / 2)}}, 8, 8)"></image>
        </pattern>
      </defs>
      <g ng-repeat="event in events | filter:{ date: setDate}:true track by $index" ng-show="!showEventDetails || event.showEvent"
      ng-click="onEventClick(event)" ng-cloak>

        <circle class="medium event" cx="1" cy="-30" r="5" fill="url(#{{$index}})" stroke="#ffffff" stroke-width="0.5" ng-attr-transform="rotate({{30 * event.hour + event.min / 2}})" />

        <image class="event" x="-6" y="-38" width="14" height="14" xlink:href="" ng-attr-xlink:href="{{imagePath}}" ng-attr-transform="rotate({{30 * event.hour + event.min / 2}})" />
      </g>
      <!-- Host Ring -->
      <image ng-show="showEventDetails" ng-cloak x="-6" y="-38" width="12" height="12" xlink:href="img/ring-span.svg" ng-attr-transform="rotate({{30 * hourEnd + minuteEnd / 2}})" />
      <!-- For Event -->

      <defs ng-repeat="promo in promos | filter:{ date: setDate}:true track by $index">
        <pattern id="of-{{$index}}" x="0%" y="0%" height="100%" width="100%" viewBox="0 0 16 16">
          <image x="0%" y="0%" width="16" height="16" xlink:href="img/event-inside.png" ng-attr-transform="rotate({{-(30 * promo.hour + promo.min / 2)}}, 8, 8)"></image>
        </pattern>
      </defs>

      <g ng-repeat="promo in promos | filter:{ date: setDate}:true track by $index" ng-show="!showEventDetails || event.showEvent" ng-click="showPopup(promo)" ng-cloak>
        <circle class="medium event" cx="0" cy="-31" r="5" fill="url(#of-{{$index}})" stroke="transparent" stroke-width="none" ng-attr-transform="rotate({{30 * promo.hour + promo.min / 2}})" />
        <!-- For Event -->
        <image x="-6" y="-38" width="12" height="12" xlink:href="img/event.svg" ng-attr-transform="rotate({{30 * promo.hour + promo.min / 2}})" />
        <!-- For Event -->
      </g>

    </g>
  </svg>
</div>